<app-menu></app-menu>

<div class="w-100 my-card-content px-2">

    <div *ngIf="pageState.value!=0 && pageState.value < 3" class="row m-0 h-100">
        <div class="col m-0 h-100 w-100 d-flex justify-content-center align-items-center">
            <app-loading-card [loadingData]="loadingData"></app-loading-card>
        </div>
    </div>

    <div *ngIf="pageState.value >= 3" class="container-fluid m-0 p-0">
        <div class="row m-0">
            <div class="col m-0 p-0 w-100 d-flex justify-content-center align-items-center">
                
            </div>
        </div>
        <div class="row m-0">
            <div class="col m-0 p-0 px-2 w-100">
                <form [formGroup]="userForm" (ngSubmit)="onSaveUser()">
                    <div class="form-group mt-2">
                        <label for="name">Full Name</label>
                        <span style="float:right"
                            [class.text-danger]="name.invalid && (name.dirty || name.touched)">Required</span>
                        <input type="text" class="form-control"
                            [class.is-invalid]="name.invalid && (name.dirty || name.touched)" id="name"
                            placeholder="Enter Full Name" formControlName="name" required>
                    </div>
                    <div class="form-group mt-2">
                        <label for="email">Email</label>
                        <span style="float:right"
                            [class.text-danger]="email.invalid && (email.dirty || email.touched)">Required</span>
                        <input type="email" class="form-control"
                            [class.is-invalid]="email.invalid && (email.dirty || email.touched)" id="email"
                            placeholder="Enter email" formControlName="email" required>
                    </div>
                    <div class="form-group mt-2">
                        <label for="companyName">Company Name</label>
                        <input type="text" class="form-control"
                            id="companyName" placeholder="Enter Company Name" formControlName="companyName" required>
                    </div>
                    <div class="w-100 mt-4">
                        <button type="submit" [disabled]="!userForm.valid" class="btn w-100"
                            [ngClass]="userForm.valid ? 'btn-primary' : 'btn-secondary'">SAVE</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row mt-4 m-0 px-2 comments-container">
            <div class="col w-100 p-0 px-2 m-0">
                <ng-container *ngIf="userPosts?.length!=0">
                    <div *ngFor="let post of userPosts" class="list-card flexible container my-2 mx-2" 
                        [ngClass]="{'clickable': post.urlPath != null}" (click)="navigateFromPost(post)">
                        <div class="row m-0">
                            <div class="col">
                                <div class="w-100 py-1">
                                    <div class="row m-0 w-100">
                                        <div class="col m-0 w-100 line-height-1rem">
                                            <h6 class="mb-0">{{ post.title }}</h6>
                                        </div>
                                    </div>
                                    <div class="row m-0 w-100">
                                        <div class="col m-0 w-100 line-height-1rem">
                                            <p class="font-size-s muted" innerHTML="{{ post.body }}"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>

    <div *ngIf="pageState.value==0" class="row m-0 h-100">
        <div class="col m-0 h-100 w-100 d-flex justify-content-center align-items-center">
            <app-error-card [errorData]="errorData"></app-error-card>
        </div>
    </div>

</div>