<div class="btn-group w-100" role="group" aria-label="Basic example">
    <button *ngIf="backButton!=null" style="width: 1rem" class="btn btn-primary" [routerLink]="backButton?.urlPath"
        [queryParams]="backButton?.urlQueryParams" [routerLinkActiveOptions]="{exact: false}"><i class="fa fa-arrow-left"></i></button>
    <button type="button" class="btn btn-primary"  routerLinkActive="disabled" [routerLink]="['/users-list']"
        [routerLinkActiveOptions]="{exact: true}"><strong>CONTACTS</strong></button>
    <button type="button" class="btn btn-primary" routerLinkActive="disabled" [routerLink]="['/posts-list']"
    [routerLinkActiveOptions]="{exact: true}"><strong  >POSTS</strong></button>
    <button type="button" class="btn btn-warning text-white" (click)="onLogout()"><strong>LOGOUT</strong></button>
</div>