<app-menu></app-menu>

<div class="w-100 my-card-content" [class.comments-container]="pageState.value > 3">

    <div *ngIf="pageState.value!=0 && pageState.value <= 3" class="row m-0 h-100">
        <div class="col m-0 h-100 w-100 d-flex justify-content-center align-items-center">
            <app-loading-card [loadingData]="loadingData"></app-loading-card>
        </div>
    </div>

    <div *ngIf="pageState.value > 3" class="container-fluid m-0 p-0">
        <div class="px-2 header-container">
            <div class="list-card container mb-2 mx-2" [ngClass]="{'clickable': user.urlPath != null}"
                (click)="navigateFromUser(user)">
                <div class="row m-0 h-100">
                    <div class="col m-0 h-100 col-4 d-flex justify-content-center align-items-center">
                        <div class="initials-circle d-flex justify-content-center align-items-center">
                            <div>
                                <span>{{ user.name | initials }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col h-100 col-8 d-flex align-items-center">
                        <div class="w-100">
                            <div class="row m-0 w-100">
                                <div class="col m-0 w-100 line-height-1rem">
                                    <span class="font-size-l">{{ user.name }}</span>
                                </div>
                            </div>
                            <div class="row m-0 w-100">
                                <div class="col m-0 w-100 line-height-1rem">
                                    <span class="font-size-s muted">{{ user.address.street }}, {{ user.address.city}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-0">
                <p class="muted">{{ post.body }}</p>
            </div>
        </div>
        <div class="row m-0 mt-2 px-4 py-2">
            <div class="col w-100 p-0 px-2 m-0">
                <ng-container *ngIf="comments?.length!=0">
                    <div *ngFor="let comment of comments" class="list-card white flexible container my-2 mx-2">
                        <div class="row m-0">
                            <div class="col">
                                <div class="w-100 py-1">
                                    <div class="row m-0 w-100">
                                        <div class="col m-0 w-100 line-height-1rem">
                                            <h6 class="mb-0">{{ comment.name }}</h6>
                                        </div>
                                    </div>
                                    <div class="row m-0 w-100">
                                        <div class="col m-0 w-100 line-height-1rem">
                                            <p class="font-size-s muted" innerHTML="{{ comment.body }}"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>

    <div *ngIf="pageState.value==0" class="row m-0 h-100">
        <div class="col m-0 h-100 w-100 d-flex justify-content-center align-items-center">
            <app-error-card [errorData]="errorData"></app-error-card>
        </div>
    </div>

</div>