:host {
    height: 100%;
    width: 100%;
}

.initials-circle {
    border-radius: 50%;
    height: 4.5rem;
    width: 4.5rem;
    background-color: #0d6efd;
    color: white;
    font-size: 1.25rem;
    letter-spacing: 0.1rem;
}

.comments-container {
    background: #8ac8ff80;
}

.header-container {
    background-color: #ffffff;
}